@import "fonts";
@import "base";

html {
  font-family: "Nunito", sans-serif;
}
h1 {
  color: red;
  font-family: "Nunito", sans-serif;
}
header {
  min-height: 100vh;
  position: relative;
}
.nav {
  height: 2.5rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
.toggle-menu-btn {
  cursor: pointer;
  &.active {
    div:nth-child(1) {
      transform: rotate(-45deg) translate(-6px, 6px);
    }
    div:nth-child(2) {
      opacity: 0;
    }
    div:nth-child(3) {
      transform: rotate(45deg) translate(-6px, -7px);
    }
  }
  div {
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
}
.logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
}
.menu-mobile {
  position: absolute;
  left: 0;
  top: 2.5rem;
  background-color: black;
  width: 0%;
  height: calc(100vh - 2.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: width 0.5s;
  &.active {
    width: 90%;
    a {
      display: inline-flex;
    }
  }
  a {
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    display: none;
  }
}
.home {
  background-color: blue;
  height: calc(100vh - 2.5rem);
}
